{% extends "base.html" %}
{% block content %}
<h1>Lisää uusi askare</h1>

<form method="post" action="{{base_path}}/lisatty">

    <div class="form-group">
        <label>Kayttajan id</label>
        <input type="number" name="kayttaja_id" class="form-control">
    </div>  

    <div class="form-group">
        <label>Askare</label>
        <input type="text" name="nimi" class="form-control">
    </div>

    <div class="form-group">
        <label>Tärkeysaste</label>
        <input type="number" name="tarkeys_aste" class="form-control">
    </div>

    <div class="form-group">
        <label>Luokka</label>
        <input type="text" name="luokka" class="form-control">
    </div>

    <div class="form-group">
        <label>Suoritus (kesken/valmis)</label>
        <input type="text" name="suoritus" class="form-control">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Luo uusi askare</button>
    </div>
</form>
{% endblock %}