{% extends "base.html" %}
{% block content %}

{% if user_logged_in %}
<h1>Käyttäjän "{{user_logged_in.nimi}}" muistilista</h1>
{% endif %}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Askare</th>
            <th>Tärkeysaste</th>
            <th>Status</th>
            <th>Muokkaus</th>
        </tr>
    </thead>

    <tbody>
        {% for askare in askareet %}
        <tr>
            <td><a href="{{base_path}}/askare/{{askare.id}}">{{askare.nimi}}</td>
            <td>{{askare.tarkeys_aste}}</td>
            <td>
                {% if askare.suoritus == 'valmis'%}
                <label class="label label-success">valmis
                    {% else %}
                    <label class="label label-danger">kesken
                        {% endif %}
            </td>
            <td><a class="btn btn-default btn-sm" href="{{base_path}}/askare/{{askare.id}}/edit">Muokkaa askaretta</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p><a href="{{base_path}}/lisays" class="btn btn-success">Lisää uusi askare</a></p>
{% endblock %}