{% extends "base.html" %}
{% block content %}

{% if errors %}
<div class="alert alert-warning">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<h1>Muokkaa luotua askaretta "{{attributes.nimi}}"</h1>

<form method="post" action="{{base_path}}/askare/{{attributes.id}}/edit">

    <div class="form-group">
        <input type="hidden" name="kayttaja_id" value="{{user_logged_in.id}}">
    </div>

    <div class="form-group">
        <label>Askare</label>
        <input type="text" name="nimi" class="form-control" value="{{attributes.nimi}}">
    </div>

    <div class="form-group">
        <label>Tärkeysaste</label>
        <input type="number" name="tarkeys_aste" class="form-control" value="{{attributes.tarkeys_aste}}">
    </div>

    <div class="form-group">
        <label>Luokka</label>
        <select class="form-control" name="luokka">
            {% for luokka in luokat %}
            <option value="{{luokka.nimi}}">{{luokka.nimi}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label>Suoritus (kesken/valmis)</label>
        <input type="text" name="suoritus" class="form-control" value="{{attributes.suoritus}}">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>

<form method="post" action="{{base_path}}/askare/{{askare.id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista askare</button>
</form>
{% endblock %}