{% extends "base.html" %}
{% block content %}
<h1>Muokkaa luotua askaretta "{{askare.nimi}}"</h1>

<form method="post" action="{{base_path}}/askare/{{askare.id}}/edit">

    <div class="form-group">
        <label>Kayttajan id</label>
        <input type="number" name="kayttaja_id" class="form-control" placeholder={{askare.kayttaja_id}}>
    </div>

    <div class="form-group">
        <label>Askare</label>
        <input type="text" name="nimi" class="form-control" placeholder={{askare.nimi}}>
    </div>

    <div class="form-group">
        <label>Tärkeysaste</label>
        <input type="number" name="tarkeys_aste" class="form-control" placeholder={{askare.tarkeys_aste}}>
    </div>

    <div class="form-group">
        <label>Luokka</label>
        <input type="text" name="luokka" class="form-control" placeholder={{askare.luokka}}>
    </div>

    <div class="form-group">
        <label>Suoritus (kesken/valmis)</label>
        <input type="text" name="suoritus" class="form-control" placeholder={{askare.suoritus}}>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>

<form method="post" action="{{base_path}}/askare/{{askare.id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista askare</button>
</form>
{% endblock %}