{% extends "base.html" %}
{% block content %}

    <h1>{{askare.nimi}}</h1>

    <div>
        <p>Tärkeysaste: {{askare.tarkeys_aste}}</p>
    </div>
    <div>
        <p>Luokka: {{askare.luokka}}</p>
    </div>
    <div>
        <p>Status: {% if askare.suoritus == 'valmis' %}
                <label class="label label-success">valmis
                {% else %}
                <label class="label label-danger">kesken
                {% endif %}</p>
    </div>
    
    <a class="btn btn-primary" href="{{base_path}}/askare/{{askare.id}}/edit">Muokkaa askaretta</a>
{% endblock %}